<div class="ui inverted main menu segment">
  <div class="container">
    <div class="item">{{config.title}}</div>
    <div class="right menu">
      <a class="item" ng-click="commander.menuBtnAction('main')">{{config.exchangeLabel}}</a>
      <a class="item" ng-click="commander.menuBtnAction('news')">{{config.newsLabel}}</a>
    </div>
  </div>
</div>